/* Meowllow CSS */

html[data-theme="purr"] {
  --bg-crust: #201E27;
  --bg-mantle: #24212B;
  --bg-base: #2B2833;
  --bg-surface0: #4A4557;
  --bg-surface1: #5C586A;
  --bg-surface2: #6E687D;
  --text-main: #ECE7EE;
  --text-sub0: #D9D4DE;
  --text-sub1: #B7B0C0;
  --text-overlay0: #7A7485;
  --accents-peach: #F2B8B2;
  --accents-mint: #8FCFA0;
  --accents-cream: #F8EAA3;
  --accents-peri: #B4C5ED;
  --accents-pink: #F5C2E7;
  --accents-lilac: #BFA8F6;
  --accents-aqua: #8EE8E4;
  --accents-ember: #F26D6D;
  --accents-honey: #E6B85A;
  --accents-skybell: #6EA6F6;
  --accents-leaflight: #A9DDBB;
  --accents-ash: #3B3740;
  --accents-glimmer: #CDE8F2;
}

html[data-theme="slumber"] {
  --bg-crust: #1F1D25;
  --bg-mantle: #242128;
  --bg-base: #2A272E;
  --bg-surface0: #4A4553;
  --bg-surface1: #575268;
  --bg-surface2: #6E6A86;
  --text-main: #F6EDE6;
  --text-sub0: #D8D0C8;
  --text-sub1: #AFA9B8;
  --text-overlay0: #6E6A86;
  --accents-peach: #EE99A0;
  --accents-mint: #8FCF98;
  --accents-cream: #F9E2AF;
  --accents-peri: #9FBCE8;
  --accents-pink: #F5BDE6;
  --accents-lilac: #C7B0F0;
  --accents-aqua: #99E1C9;
  --accents-ember: #E46A6A;
  --accents-honey: #E5B76E;
  --accents-skybell: #7FA6F7;
  --accents-leaflight: #A6D1A1;
  --accents-ash: #3B3640;
  --accents-glimmer: #CFEFF0;
}

html[data-theme="sunbeam"] {
  --bg-crust: #F8F4F0;
  --bg-mantle: #F9F6F2;
  --bg-base: #FDFBF8;
  --bg-surface0: #F2ECE4;
  --bg-surface1: #E8E1DA;
  --bg-surface2: #DFD8CF;
  --text-main: #423F3A;
  --text-sub0: #6D6863;
  --text-sub1: #8E8982;
  --text-overlay0: #B0A9A3;
  --accents-peach: #E88E86;
  --accents-mint: #5FA872;
  --accents-cream: #E6B450;
  --accents-peri: #7E9CD6;
  --accents-pink: #E59BCF;
  --accents-lilac: #AB91E4;
  --accents-aqua: #5EC2B8;
  --accents-ember: #C94B4B;
  --accents-honey: #C98939;
  --accents-skybell: #5279C6;
  --accents-leaflight: #81B580;
  --accents-ash: #DDD7D1;
  --accents-glimmer: #FFF3E1;
}

