/* Meowllow CSS */

html[data-theme="purr"] {
  --bg-crust: #201E27;
  --bg-mantle: #24212B;
  --bg-base: #2B2833;
  --bg-surface0: #4A4557;
  --bg-surface1: #5C586A;
  --bg-surface2: #6E687D;
  --text-main: #E6E0E9;
  --text-sub0: #D9D4DE;
  --text-sub1: #9B96A8;
  --text-overlay0: #6E687D;
  --accents-peach: #F2B8B2;
  --accents-mint: #A9DDBB;
  --accents-cream: #F8EAA3;
  --accents-peri: #B4C5ED;
  --accents-pink: #F5C2E7;
  --accents-lilac: #C7B0F0;
  --accents-aqua: #A1E3E1;
}

html[data-theme="slumber"] {
  --bg-crust: #1F1D25;
  --bg-mantle: #242128;
  --bg-base: #2a272e;
  --bg-surface0: #4a4553;
  --bg-surface1: #575268;
  --bg-surface2: #6e6a86;
  --text-main: #fdeadc;
  --text-sub0: #d8d0c8;
  --text-sub1: #9893AE;
  --text-overlay0: #6e6a86;
  --accents-peach: #ee99a0;
  --accents-mint: #a6d1a1;
  --accents-cream: #f9e2af;
  --accents-peri: #9fbce8;
  --accents-pink: #f5bde6;
  --accents-lilac: #c7b0f0;
  --accents-aqua: #a8e0d3;
}

html[data-theme="sunbeam"] {
  --bg-crust: #F8F4F0;
  --bg-mantle: #F9F6F2;
  --bg-base: #FDFBF8;
  --bg-surface0: #F2ECE4;
  --bg-surface1: #E8E1DA;
  --bg-surface2: #DFD8CF;
  --text-main: #4C4843;
  --text-sub0: #7C766F;
  --text-sub1: #9C968E;
  --text-overlay0: #B0A9A3;
  --accents-peach: #E88E86;
  --accents-mint: #81B580;
  --accents-cream: #E6B450;
  --accents-peri: #7E9CD6;
  --accents-pink: #E59BCF;
  --accents-lilac: #AB91E4;
  --accents-aqua: #7ECBC4;
}

